<div class="d-flex justify-content-end">
    <button class="btn btn-success" data-toggle="modal" data-target="#myModal">確認資料</button>
</div>
<div class="modal fade " id="myModal">
            <div class="modal-dialog modal-bg modal-content">
                <div class="modal-header"><!-- 模态框头部 -->
                   <h4 class="modal-title">購買詳情</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">form database: accountname; address; products; amount</div><!-- 模态框主体 -->
                  <div class="modal-footer"><!-- 模态框底部 -->
                     <button type="button" class="btn btn-success" data-dismiss="modal">確認購買</button>
                  </div>
            </div>
</div>