<style>
  h1{color: rgba(159, 6, 101, 0.996);
     font-family: fantasy;
  }
  P{font-size: larger;
    font-family:cursive;
    font-style: oblique;
  }
  body{background-image: url("/img/background.jpg");
       background-size: cover;
  }
  #buyButton{ type="submit";
  name="productId";
  value=1;// 用黎加id
  btn btn-secondary;
  data-toggle="modal;
  data-target="#myModal;
  }
  </style>

<body>
  <div class="row justify-content-center "><h1>Products</h1></div>
      <div class="row justify-content-center ">
        {{#each allProduct}}
        <div class="jumbotron ">
          <img src="/img/theLoraProduct1.jpeg" alt="product1" class="img-fluid img-thumbnail">
          <h3>{{productName}}</h3>
          <button class="btn btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#productIntroduction1">Product Introduction</button><h3></h3>
          <div class="collapse">Keep Clear, Keep Calm!</div>
          <form action="/users/login" method="get">
            <div class="d-flex flex-column">
              <div class="d-flex mb-1 mt-1 align-item-center">
                <label style="margin-left: 0px; margin-bottom: 0px; margin-right:2px; padding-top: 4px" >每支${{price}},請選擇數量:</label>
                <input type="Number" name="productNum" value="" min="1" max={{qty}} style="width:45px"/>
              </div>
              <div>
                {{type}}ML
              </div>
            </div>
            <div class="row" style="margin-left: 0px" >
              <a href="/users/login" class="btn btn-outline-secondary">Add To Cart</a>
              <button type="submit" name="productId" value=1 class="btn btn-outline-secondary" id="submit" style="margin-left: 15px">Buy</button>
            </div>
          </form>
          <div>
            <div class="modal fade " id="myModal">
              <div class="modal-dialog modal-sm modal-content">
                <div class="modal-header"><!-- 模态框头部 -->
                  <h4 class="modal-title">Added to your cart!</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">Thank you!</div><!-- 模态框主体 -->
                <div class="modal-footer"><!-- 模态框底部 -->
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      {{/each}}
  </div>
</body>

